<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AccueilServlet</servlet-name>
        <servlet-class>servlet.AccueilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConnexion</servlet-name>
        <servlet-class>servlet.ServletConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiffreAffaireClientServlet</servlet-name>
        <servlet-class>servlet.ChiffreAffaireClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProduit</servlet-name>
        <servlet-class>servlet.AllProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraphiqueLocalisationServlet</servlet-name>
        <servlet-class>servlet.GraphiqueLocalisationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraphiqueCommandeServlet</servlet-name>
        <servlet-class>servlet.GraphiqueCommandeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccueilServlet</servlet-name>
        <url-pattern>/AccueilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConnexion</servlet-name>
        <url-pattern>/ServletConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiffreAffaireClientServlet</servlet-name>
        <url-pattern>/ChiffreAffaireClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProduit</servlet-name>
        <url-pattern>/AllProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphiqueLocalisationServlet</servlet-name>
        <url-pattern>/GraphiqueLocalisationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphiqueCommandeServlet</servlet-name>
        <url-pattern>/GraphiqueCommandeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>AccueilServlet</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>
                 servlet.ApplicationListener
        </listener-class>
    </listener>
</web-app>
